./CorelibsTest/gradle
/CorelibsTest/local.properties
/CorelibsTest/.idea/workspace.xml
/CorelibsTest/.idea/libraries
/CorelibsTest/.DS_Store
/CorelibsTest/build
/balloon/build
/CorelibsTest/captures
/SimplifyCorlibs/build
/SimplifyCorlibs/app/build
/SimplifyCorlibs/simplifyCorelibs/build